@media screen and (max-width:767px){

  .main-menu {
      width: 100%;
      left: 0;
      top: -100%;
  }
  .main-menu:target{
    top: 0;
  }
  .main-menu ul{
    width: 100%;
    min-height: inherit;
  }

  .main-menu:target + .backdrop{
      display: none;
    }
  h1{
    font-size: 2em;
  }
  .bloc2{
    background-color: #6C6C6C;
  }
  .bloc3
  {
    height: 3150px;
  }

}

@media screen and (min-width:767px) and (max-width:900px)
{


  h1{
    font-size: 2em;
  }
  .bloc2{
    background-color: #4B4B4B;
  }
  .bloc3
  {
    height: 2000px;
  }
}

@media screen and (min-width:900px) and (max-width:1300px)
{


  .bloc2{
    background-color: #2E2E2E;
  }
  .bloc3
  {
    height: 2000px;
  }
}

@media screen and (min-width:1300px)
{


  .bloc2{
    background-color: black;
  }
  .bloc3
  {
    height: 1300px;
  }
}
